.adjust-page-margin-for-burger-button {
  margin: -8vw;
}
.bm-burger-button {
  position: fixed;
  width: 46px;
  height: 30px;
  left: 36px;
  top: 46px;
}
.bg-behind-burger-button {
  background-color: var(--gray4);
  height: 8vw;
  width: 8vw;
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 0 0 80% 0;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: var(--green);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  background-color: var(--gray4);
}

/* Color/shape of close button cross */
.bm-cross {
  background-color: var(--green);
}

/* General sidebar styles */
.bm-menu {
  background: var(--gray4);
  overflow-y: hidden !important;
  padding: 2.5em 1.5em 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  /*color: black;*/
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  font-size: 1.4rem;
  color: var(--gray1);
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(0, 0, 0, 0.3);
}


/* Spinning Logo */
.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 6vh;
  font-family: var(--fontBrand);
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
