#your-workout-table {
  border: 2px solid black;
  margin: auto;
}
table th {
    border-bottom: 2px solid black;
}
table td {
    border-left: 1px solid black;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
