.your-workout-wrapper {
  background-color: var(--gray4);
  color: var(--gray1);
  margin: 1.4rem 0 0 0;
  padding: 0 0 1.8rem 0;
  border: 5px solid var(--gray1);
  border-radius: 5px;
}
#your-workout-table {
  border: 2px solid black;
  margin: auto;
}
table th {
    border-bottom: 2px solid black;
}
table td {
    border-left: 1px solid black;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
